/* logo styles */
.logo{
    position: fixed;
    margin-left: 160px;
    margin-top: 25px;
    width: 160px;
    cursor: pointer;
}
body{
        background-image: url("/Images/SignUp Page.png");
        background-size: 100%;
 }
/* form start here */
form{
    position: absolute;
    top: 100px;
    left: 540px;
    justify-content: center;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.75);
    padding: 60px;
}
/* signIn heading */
legend{
    color: aliceblue;
    font-weight: bold;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;

}
/* Input fields */
.label{
    background-color:rgba(28, 27, 27, 0.75);
    padding: 20px;
    border: 1px solid rgb(190, 180, 180);
    border-radius: 4px;
    width: 280px;
    font-weight: bold;
    color: antiquewhite;
}
/* hover effect for labels */
.label:hover{
    box-shadow: 0px 0px 4px whitesmoke;
    border: 3px solid white;
}
/* button1 */
#btn1{
    background-color: rgb(211, 14, 14);
    width: 325px; height: 40px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#btn1:hover{
    box-shadow: 0px 0px 4px red;
}
/* Appyling paragraphs */
p{
    color: rgb(203, 191, 191);
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: flex;
}
h4{
    color: rgb(241, 237, 237);
    font-size: small;
    font-family: Arial;
    cursor: pointer;
}
span{
    font-weight: bolder;
    color: aliceblue;
}
b{
    color: #0071EB;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;

}
/* Check box */
.checkbox-label {
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}
/* Hide the default checkbox */
.check {
    display: none;
}

/* Custom checkbox */
.custom-checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    margin-right: 6px;
}

/* White tick mark when checkbox is checked */
.check:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* btn Sign-code */
#btn2{
    background-color: rgb(66, 62, 62);
    width: 325px; height: 40px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* end line */
.endline{
    color: grey;
    font-size: small;
}
